@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

:root {
    --color-terminal: #292b36;
    --color-fondo: #5c4b7a;
    --color-cifrado: #5af78d;
    --borde-redondo: 4px;
}

* {
    box-sizing: border-box;
    font-family: 'Source Code Pro', monospace;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-fondo);
    color: white;
}

main {
    padding: 25px;
    box-shadow: 8px 8px 35px rgba(0, 0, 0, 0.75);
    border-radius: var(--borde-redondo);
    width: 100%;
    max-width: 500px;
    background-color: #3f2e59;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, button {
    border: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    border-radius: var(--borde-redondo);
}

#input-original {
    background-color: var(--color-terminal);
    color: white;
}

button {
    background-color: #7e5abf;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #6d4ab0;
}

#resultado {
    background-color: var(--color-terminal);
    color: var(--color-cifrado);
    padding: 10px;
    min-height: 25px;
    border-radius: var(--borde-redondo);
    margin-top: 20px;
    word-break: break-word;
}

.rango {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type='range'] {
    flex-grow: 1;
    -webkit-appearance: none;
    background: var(--color-terminal);
    height: 20px;
    border-radius: var(--borde-redondo);
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: white;
    border-radius: 50%;
    height: 14px;
    width: 14px;
    cursor: pointer;
}
